# Import Libraries

In [1]:
import pandas as pd, numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# Load Dataset

In [3]:
path = '/content/gdrive/MyDrive/DigitalSkola/Dataset/titanic.csv'

data = pd.read_csv(path)
data.tail()

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
886          887         0       2  ...  13.00   NaN         S
887          888         1       1  ...  30.00   B42         S
888          889         0       3  ...  23.45   NaN         S
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[5 rows x 12 columns]

# Data Quality Checking

In [7]:
# Data Shape
data.shape

(891, 12)

In [11]:
# data describe
data.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [33]:
# Missing Value Check
print(data.isna().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [25]:
# Duplicate check
print(data.duplicated().sum())

0

In [26]:
# Remove duplicate data
data = data.drop_duplicates()

In [15]:
# data imputation
age_mean = data.Age.mean()
data.loc[data['Age'].isnull(), 'Age'] = age_mean

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [30]:
emb_mode = data.Embarked.mode()
data['Embarked'] = data['Embarked'].fillna('S')

In [32]:
data = data.drop('Cabin', axis=1)

# One hot Encode and Label Encode

In [34]:
# One Hot Encode
data = pd.get_dummies(data, columns=['Sex', 'Embarked'], drop_first=True)
data.head()

   PassengerId  Survived  Pclass  ... Sex_male  Embarked_Q  Embarked_S
0            1         0       3  ...        1           0           1
1            2         1       1  ...        0           0           0
2            3         1       3  ...        0           0           1
3            4         1       1  ...        0           0           1
4            5         0       3  ...        1           0           1

[5 rows x 12 columns]

In [36]:
# Label Encoder
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
data['Pclass'] = label.fit_transform(data['Pclass'])

In [38]:
data = data.drop(['PassengerId', 'Name', 'Ticket'], axis=1)
data.head()

   Survived  Pclass   Age  SibSp  ...     Fare  Sex_male  Embarked_Q  Embarked_S
0         0       2  22.0      1  ...   7.2500         1           0           1
1         1       0  38.0      1  ...  71.2833         0           0           0
2         1       2  26.0      0  ...   7.9250         0           0           1
3         1       0  35.0      1  ...  53.1000         0           0           1
4         0       2  35.0      0  ...   8.0500         1           0           1

[5 rows x 9 columns]

# Train Test Split

In [39]:
from sklearn.model_selection import train_test_split
X = data.drop(['Survived'], axis=1)
y = data['Survived']

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12)

# Standardisasi dan Normalisasi

In [47]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [49]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)
X_train.head()

     Pclass       Age     SibSp  ...  Sex_male  Embarked_Q  Embarked_S
0  0.841050 -0.200197 -0.449916  ... -1.393610   -0.306108    0.609811
1 -0.366264  1.694513 -0.449916  ...  0.717561   -0.306108    0.609811
2 -0.366264 -0.200197 -0.449916  ...  0.717561   -0.306108    0.609811
3  0.841050  0.036642 -0.449916  ...  0.717561   -0.306108    0.609811
4  0.841050  0.012888  6.872147  ...  0.717561   -0.306108    0.609811

[5 rows x 8 columns]

# Imbalanced

In [50]:
from imblearn.under_sampling import RandomUnderSampler
undersample = RandomUnderSampler(sampling_strategy='majority')
X_over, y_over = undersample.fit_resample(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)